.green-button {
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #75C700;
  border-radius: 23px;
  border: 0px;
  min-width: 59px;
}

.green-button.rect {
  border-radius: 5px;
}

