.good-wrap {
  .good {
    position:relative;
    transition: all ease-in-out 0.2s;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);

    .options {
      display: flex;
      position:absolute;
      top:10px;
      left:10px;
      color:#FFF;
      font-size: 12px;
      line-height: 16px;
      .sale {
        text-align: center;
        line-height: 25px;
        width:48px;
        height:25px;
        background-image: url("../images/svg/good-sale-bg.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: 5px;
        margin-right: 5px;
      }
      .hit {
        text-align: center;
        line-height: 25px;
        width:48px;
        height:25px;
        background-image: url("../images/svg/good-hit-bg.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 5px;
      }
    }

    .image {
      img {
        width: 100%;
      }
    }

    .name-article {
      display: flex;
      justify-content: space-between;
      padding-top:12px;
      .name {
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
      }
      .article {
        color:#8F8989;
        font-size: 12px;
      }
    }

    .video {
      display: none;
    }

    .video-desktop {
      cursor: pointer;
      position:absolute;
      right:10px;
      top:10px;
      height:34px;
      width:34px;
      display:flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: #FFF;
      border:1px #E8E8E8 solid;
      img {
        margin-left:3px;
      }
    }

    .about {
      font-size: 14px;
      line-height: 19px;
      color: #8F8989;
      .expend {
        overflow: hidden;
        height:0px;
        font-size: 12px;
        line-height: 16px;
        color: #000000;
      }
      .expend.open{
        height:auto;
        padding-top:15px;
        padding-bottom:15px;
      }
    }

    .price-to-cart {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .prices {
        display: flex;
        flex-direction: column;

        .price {
          font-size: 14px;
          line-height: 19px;
          color: #000000;
          font-weight: bold;
        }

        .price.red {
          color: $red;
        }

        .old-price {
          font-size: 14px;
          line-height: 19px;
          text-decoration: line-through;
          color: #8F8989;
        }
      }

      .to-cart {

      }
    }


    .article-line, .name-line {
      padding-top:10px;
      display: flex;
      justify-content: space-between;

      .article-line__old-price {
        white-space: nowrap;
      }

      .name-line__price {
        white-space: nowrap;
        color: #000;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
      }
      .name-line__price.red {
        color: $red;
      }

      .name-line__name {
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
      }
    }
    .article-line {
      color: #8F8989;
      .article-line__old-price {
        text-decoration: line-through;
      }
    }

    .gry-line {
      padding-top:10px;
      border-bottom: 1px solid $gray;
      margin:0 -20px;
    }

    .mobile-expend-block {
      position:relative;
      padding-top: 10px;
      .expend-text {
        font-size: 14px;
        line-height: 19px;
        color:$dark-gray;
        overflow: hidden;
        transition: max-height 0.25s;
        &.hide {
          max-height: 38px;
        }
        &.show {
          max-height: 500px;
        }
      }

      .expend-fade {
        position: absolute;
        bottom:0px;
        right: 45px;
        z-index: 1;
        display: block;
        height: 19px;
        width: 60px;
        transition: width 0.25s;
        &.hide {
          width: 1px;
        }
      }
      .expend-button {
        z-index: 2;
        bottom:0px;
        right:0px;
        position: absolute;
        color:$dark-gray;
        background-color: $gray;
        border-radius: 20px;
        padding:0 10px;
        font-size: 14px;
        line-height: 19px;
      }
    }
  }
}

.good-wrap.open {
  z-index: 1;
  background: #FFF;
  padding:11px;
  margin:-11px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}


@media (min-width: 375px) {
  .good-wrap {
    .good {
      .price-to-cart {
        .to-cart {
          .green-button {
            width:81px;
          }
        }
      }
    }
  }
}


@media (min-width: 414px) {
  .good-wrap {
    .good {
      .price-to-cart {
        .to-cart {
          .green-button {
            width:95px;
          }
        }
      }
    }
  }
}


@media (min-width: 768px) {
  .good-wrap {
    .good {
      .price-to-cart {
        .prices {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          .price {
            margin-right: 10px;
          }
        }
      }
      .mobile-only {
        display:none;
      }
      .desktop-only {
        display:block;
      }
      .video-desktop.desktop-only {
        display:flex;
      }
      .about {
        > span {
          cursor:pointer;
        }
      }
    }
  }
}