.rotate90 {
  img {
    transform: rotate(90deg);
    transition: all ease-in-out 0.3s;
  }
}

.mobile__menu-container {

  overflow-y:scroll;
  position:fixed;
  width:100vw;
  height:100vh;
  background: #FFF;
  top:0;
  left:-100vw;
  z-index: 2;
  transition: left ease 0.5s;
  .mobile__menu-content {
    .mobile__menu-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 70px;
      border-bottom: 1px solid #E8E8E8;
      padding:0px 20px;
      font-size: 22px;
      line-height: 30px;
      color:#1c1c1c;
      img {
        padding:20px;
        margin-right:-20px;
      }
    }
    .mobile__menu-list {
      position:relative;
      padding:28px 20px;
      .parent-category {
        font-size: 16px;
        li {
          height: 45px;
          > a, span {
            cursor: pointer;
            position:relative;
            padding-left:45px;
            line-height:45px;
            height: 45px;
            display:block;
            font-size: 16px;
            color:#000;
            img {
              max-width:25px;
              position:absolute;
              left:0px;
              top:8px;
            }
          }
          .child {
            display:none;
            position:absolute;
            left:-100vw;
            transition: left ease 0.5s;
            z-index: 1;
            background: #FFF;
            top:0px;
            width:100vw;
            height:100%;
            > img {
              padding:20px;
            }
            li {
              padding:0 20px;
              font-size: 16px;
              line-height: 25px;
              height:25px;
              padding-bottom:20px
            }
            a {
              padding:0px;
              display:inline;
              height:auto;
              line-height: 25px;
              text-decoration: none;
              color:#222;
            }
          }
          .child.open {
            left:0vw;
          }
        }
      }
    }
  }
}
.mobile__menu-container.open {
  display:block;
  left:0vh;
}
.mobile__menu-container.open:after {
  content: '';
  display:block;
  //height:200vh;

}



@media (min-width: 768px) {
  .mobile__menu-container {

  }
}