body {

  footer {
    margin-top:auto;
  }
  &.overflow {
    overflow: hidden;
  }
}

.container {
  width: 100%;
  max-width:938px;
  margin: 0 auto;
}

@media (min-width: 1440px) {
  .container {
    max-width:1170px;
  }
}