.seotext {
  width:auto;
  padding:0 20px;
  padding-bottom: 60px;
  .header {
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
  }
  p {
    margin-bottom:18px;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
  }
}