.slide {
  height:280px;
  background: #FFF;
  .container-1200 {
    position:relative;

    .text {
      font-size: 20px;
      line-height: 27px;
      font-weight: bold;
      position:absolute;
      top:60px;
      left:20px;
    }
    .image {
      float:right;
      position:absolute;
      right:0px;
      top:0px;
    }
    .image-full {
      position:relative;
      text-align: center;
      height:280px;
      overflow: hidden;
      img {
        position: absolute;
        left: calc(50% - 380px);
        margin: 0 auto;
      }
    }
  }
}

.after-slider {
  padding-top:54px;
}

@media (min-width: 760px) {
  .slide {
    height:240px;
    overflow: hidden;
    .container-1200 {
      position:relative;
      .text {
        font-size: 36px;
        line-height: 49px;
        font-weight: bold;
        position:absolute;
        top:60px;
        left:40px;
      }
      .image {
        float:right;
        position:absolute;
        right:18%;
        top:0px;
      }
      .image-full {
        position:relative;
        text-align: center;
        height:240px;
        overflow: hidden;
        img {
          height:240px;
          position: absolute;
          left: calc(50% - 480px);
          margin: 0 auto;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .slide {
    height:300px;
    .container-1200 {
      .image-full {
        height:300px;
        img {
          height:300px;
          left: calc(50% - 600px);
        }
      }
    }
  }
}
