.good-slider {
  padding-top: 28px;
  .header {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 16px;
    display: block;
  }

  .slider-static-width {
    margin: 0 -20px;
  }

}

.good-slider_main-page {
  padding: 0 20px;
  padding-bottom: 60px;
}