.full-good {
  padding-bottom: 120px;



  .image-slider-layout {
    position: relative;
    .image-video-play {
      cursor: pointer;
      position: absolute;
      top: 10px;
      left: initial;
      right: 30px;
      z-index: 2;
    }
  }

  .image-slider {
    .image-slide {
      width: 100%;
      height: calc(100vw - 40px);
      padding: 0 20px;
      .image {
        width: 100%;
        height: 100%;
        background-size: cover;
      }
    }
  }

  .image-slider-control {
    display:none;
    .image-slide {
      .image {

      }
    }
  }
  
  .full-good__container {
    padding: 0 20px;
  }

  .good-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color:$black;
    margin-bottom: 8px;
  }

  .good-article {
    margin-bottom:4px;
    color: $dark-gray;
    line-height: 20px;
    font-size: 14px;
  }

  .good-add-block {
    button {
      margin-bottom:16px;
    }
  }

  .good-info {
    line-height: 24px;
    font-size: 14px;
  }

  .good-quantity-block {
    display: none;
  }

}

@media (min-width: 760px) {
  .full-good {

    .good-title {
      font-size: 20px;
      line-height: 28px;
    }

    .icons-block {
      margin-bottom: 16px;
    }

    .good-add-block {
      width: 240px;
    }

    .image-slider-layout {
      position: relative;
      display: flex;
      padding-right: 0px;
      padding-top:40px;
      .image-slider {
        margin-right:20px;
      }
      .image-slider-control {
        width: 80px;
        margin-right: 20px;
        height:260px;
        overflow: hidden;
      }
      .image-video-play {
        position: absolute;
        top: 44px;
        left: 320px;
        z-index: 2;
      }
    }

    .image-slider-control {
      padding-left: 20px;
      display:block;
      margin-top:0px;
      margin-bottom:4px;
      .image-slide {
        width: 60px;
        padding:4px;
        margin-bottom:6px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border: 1px solid transparent;
        .image {
          width: 52px;
          height: 52px;
          background-size: cover;
        }
      }
      .image-slide.slick-current {
        border: 1px solid $blue;
      }
    }

    .image-slider {
      width: 260px;

      .image-slide {
        width: 260px;
        height: 260px;
        padding: 0;
        padding-left:0px;
        .image {
          width: 260px;
          height: 260px;
          background-size: cover;
        }
      }
    }
    
    .full-good__layout {
      display: flex;
      .image-slider-layout {
        width: 50%;
        padding-right:20px;
      }
      .full-good__container {
        padding-left:20px;
        width: 50%;
      }
    }

    .good-quantity-block {
      display: block;
      margin-bottom: 12px;
    }
  }
}

@media (min-width: 1024px) {
  .full-good {

    .good-title {
      font-size: 28px;
      line-height: 40px;
      margin-bottom: 20px;
    }

    .good-article {
      margin-bottom: 4px;
    }

    .image-slider {
      width: 360px;
      .image-slide {
        width: 360px;
        height: 360px;
        padding: 0;
        padding-left:0px;
        .image {
          width: 360px;
          height: 360px;
          background-size: cover;
        }
      }
    }

    .image-slider-control {
      min-width: 80px;
    }

    .good-quantity-block {
      margin-bottom: 16px;
    }

    .image-slider-layout {
      .image-video-play {
        position: absolute;
        top: 44px;
        left: 420px;
        z-index: 2;
      }
    }
  }
}