.spc-btn-1-list {
  padding: 20px;
  .spc-btn-1 {
    margin-bottom: 20px;
  }
}
.spc-btn-1 {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  display:flex;
  justify-content: space-between;
  padding: 20px;
  text-decoration: none;
  background: #FFF;
  > img {
    width:120px;
    height: 120px;
  }
  .text {
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    .name {
      font-weight: 500;
      font-size: 15px;
      line-height: 24px;
      text-align: right;
      color: #1C1C1C;
    }
    .price {
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color:$red;
    }
    .back-arrow {
      width:20px;
    }
  }
}


.spc-btn-2-list {
  padding: 20px;
  .spc-btn-2 {
    margin-bottom: 20px;
  }
}

.spc-btn-2 {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  display:flex;
  justify-content: space-between;
  padding: 20px;
  text-decoration: none;
  background-color: #DDD;
  height:160px;
  box-sizing: border-box;
  .img-block {
    margin-left: -20px;
    height: 120px;
    > img {
      width:150px;
      height: 137px;
    }
  }

  .text {
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    .name {
      font-weight: 500;
      font-size: 15px;
      line-height: 24px;
      text-align: right;
      color: #1C1C1C;
    }
    .back-arrow {
      width:20px;
    }
  }
}

@media (min-width: 360px) {
  .spc-btn-2, .spc-btn-1 {
    padding-right: 40px;
  }
}

@media (min-width: 760px) {
  .spc-btn-1 {
    width: 136px; //172px
    max-width: 136px;
    float: left;
    box-sizing: border-box;
    margin-right:calc((100% - (136px * 5)) / 4);
    margin-bottom: 28px;
  }
  .spc-btn-1-list {
    .spc-btn-1:nth-child(5n+5) {
      margin-right: 0px;
    }
  }
  .spc-btn-1-list:after {
    display: block;
    clear: both;
    content: " ";
  }
  .spc-btn-1 {
    position: relative;
    transition: background-color 0.3s;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
    padding-bottom: 40px;
    > img{
      width: 120px;
      height: 120px;
      transition: transform 0.3s;
    }
    .text {
      text-align: center;
      .name {
        margin-bottom: 12px;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        width: 100%;
        min-height: 40px;
        max-height: 40px;
        overflow: hidden;
      }
      .price {
        font-size: 16px;
        width: 100%;
      }
    }
    .back-arrow {
      position:absolute;
      bottom: 16px;
      right: 16px;
    }
  }
  .spc-btn-1:hover {
    background-color: $blue;
    > img {
      transform: scale(0.85);
    }
    .text {
      .name {
        color: #fff;
      }
      .price {
        color: #FFF;
      }
      img {
        filter: invert(100%);
      }
    }
  }

  .spc-btn-2-list {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 60px;
    .spc-btn-2:nth-child(3n+3) {
      margin-right: 0px;
    }
  }
  .spc-btn-2-list:after {
    display: block;
    clear: both;
    content: " ";
  }
  .spc-btn-2 {
    float: left;
    margin-right:calc((100% - (230px * 3)) / 2);
    width: 230px;
    height:140px;
    padding-top:10px;
    .img-block {
      width: 128px;
      height: 128px;
      img {
        width: 128px;
        height: 128px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .spc-btn-1 {
    width: 180px;
    max-width: 180px;
    margin-right:calc((100% - (180px * 5)) / 4);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
    > img{
      width: 132px;
      height: 132px;
      transition: transform 0.3s;
    }
    .text {
      .name {
        margin-top:12px;
      }
    }
    .back-arrow {
      bottom:26px;
    }
  }
  .spc-btn-1-list {

    .spc-btn-1:nth-child(4n+4) {
      margin-right:calc((100% - (180px * 5)) / 4);
    }
    .spc-btn-1:nth-child(5n+5) {
      margin-right: 0px;
    }
  }

  .spc-btn-2 {
    padding: 20px;
    float: left;
    margin-right:calc((100% - (304px * 3)) / 2);
    width: 304px;
    height:168px;
    .img-block {
      width: 164px;
      height: 164px;
      img {
        width: 164px;
        height: 150px;
      }
    }
    .text {
      .name {
        font-size: 18px;
      }
      .back-arrow {
        width: 24px;
        margin-bottom: 20px;
      }
    }
  }
  .spc-btn-2-list {

    .spc-btn-2:nth-child(3n+3) {
      margin-right: 0px;
    }
  }
}

@media (min-width: 1200px) {
  .spc-btn-1 {
    width: 220px;
    max-width: 220px;
    margin-right:calc((100% - (220px * 5)) / 4);
    > img {
      width: 180px;
      height: 180px;
    }
  }
  .spc-btn-1-list {

    .spc-btn-1:nth-child(4n+4) {
      margin-right:calc((100% - (220px * 5)) / 4);
    }
    .spc-btn-1:nth-child(5n+5) {
      margin-right: 0px;
    }
  }

  .spc-btn-2 {
    padding: 20px;
    float: left;
    margin-right:calc((100% - (360px * 3)) / 2);
    width: 360px;
    height:200px;
    margin-bottom: 20px;
    .img-block {
      width: 200px;
      height: 184px;
      img {
        width: 200px;
        height: 184px;
      }
    }
    .text {
      .name {
        font-size: 18px;
      }
      .back-arrow {
        width: 24px;
        margin-bottom: 20px;
      }
    }
  }
  .spc-btn-2-list {

    .spc-btn-2:nth-child(3n+3) {
      margin-right: 0px;
    }
  }
}